@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.media-left {
  @media (min-width: $screen-md-min) {
    width: auto;
  }
  width: 30%;
}

.media-left > img {
  @media (min-width: $screen-md-min) {
    width: auto;
  }
  width:100%;
}

